<!DOCTYPE html>
<html>
<head>
    <title>Test Customer</title>
</head>
<body>
    <h1>Customer Test Page</h1>
    <p>User: <%= user ? user.fullName : 'Not logged in' %></p>
    <p>Role: <%= user ? user.role : 'No role' %></p>
    <a href="/">Home</a>
</body>
</html>

